.card-item{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

}
.card-item:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}